settings.py
db.sqlite3
*.pyc
client_secrets.json
.settings
.project
.pydevproject
*.aux
*.bbl
*.gl[gos]
*.idx
*.ind
*.ist
*.lo[fgt]
*.out
*.ptc
*.synctex.gz
*.toc
docs/referensi/**
**/migrations/**
!**/migrations/__init__.py
